body{
  background-color: skyblue;
  text-align: center;
}
.pro{
  padding-top:200px;
  padding-bottom: 10px;

}
.top{
  position: absolute;
  right: 450px;
  top:180px;
}
.bottom{
  position: absolute;
  left: 400px;
  bottom: 400px;
}
h1{
  font-family: 'Pacifico',serif;
}
p{
  font-family: 'Patrick Hand',serif;
}
